* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedback {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
  padding: 1rem;
  animation: card_ani 1.5s ease-in-out;
}

@keyframes card_ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
