@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container1 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#background_home {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

#gaddi {
  position: absolute;
  width: min(40vw, 90vw);
  right: 2vw;
  bottom: 12vh;
  animation: car_transition 1s ease;
}

@keyframes car_transition {
  0% {
    right: -40vw;
  }
  100% {
    right: 2vw;
  }
}

.inside_container1 {
  width: 100vw;
  height: 100vh;
}

.container1_navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1vh;
}

#navimg {
  height: 8vh;
}

.navtags {
  text-decoration: none;
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
}

#login {
  background-color: var(--text-secondary);
  border: none;
  border-radius: var(--radius);
  width: 8vw;
  height: 5vh;
  color: var(--text-light);
  font-weight: bold;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.content_home {
  width: 45vw;
  height: 50vh;
  margin-top: 9.5vh;
  margin-left: 5vw;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
}

.welcome {
  font-size: clamp(1.2rem, 1.7vw, 2rem);
  margin-top: 2vh;
  letter-spacing: 0.6vw;
  font-family: "Inter", sans-serif;
}

.parkit {
  font-size: clamp(3rem, 6vw, 8rem);
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

.des {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  margin-top: 2vh;
  font-family: "Inter", sans-serif;
  width: 70%;
}

.booknow {
  background-color: var(--text-secondary);
  border: none;
  border-radius: var(--radius);
  padding: 2vh 4vw;
  color: var(--text-primary);
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  margin-top: 3vh;
  width: fit-content;
  animation: book_Now 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes book_Now {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.aboutus {
  width: 100vw;
  background-color: var(--background-primary);
  display: flex;
  font-family: "Inter", sans-serif;
  padding: 5vh 0;
  overflow-x: hidden;
}

#rec {
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.left {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

#cars {
  width: 100%;
  height: 70%;
  object-fit: cover;
  max-width: 600px;
}

.right {
  margin-top: 10vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative;
}

.right h1 {
  position: absolute;
  top: 5vh;
}

.right_content {
  width: 90%;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  line-height: 1.6; /* Adds line spacing for readability */
}

.right h1 {
  font-size: clamp(2rem, 4vw, 5rem);
}

@media only screen and (max-width: 1024px) {
  .container1 {
    flex-direction: column;
  }

  .inside_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  #gaddi {
    position: static;
    width: min(60vw, 90vw);
    margin: 0 auto;
  }

  .content_home {
    width: 90vw;
    margin: 2vh auto;
    padding: 0 2vw;
    text-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .aboutus {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    width: 90vw;
  }

  .right h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    margin-top: 2vh;
  }

  .right_content {
    font-size: clamp(0.9rem, 4vw, 4rem);
    margin-bottom: 2vh;
    text-align: justify;
  }
}

@media only screen and (max-width: 480px) {
  .parkit {
    font-size: 25vw !important; /* Increase font size for .parkit */
  }

  .welcome {
    font-size: clamp(1.5rem, 8vw, 2rem); /* Increase font size for .welcome */
  }

  .des {
    font-size: clamp(1rem, 6vw, 1.5rem); /* Increase font size for .des */
    width: 90%;
  }

  .booknow {
    width: 60vw; /* Increase width for the button */
  }
}

#root {
  overflow-x: hidden;
}
