*{
    margin: 0;
    padding: 0;
}

.login_container{
    background-color: #a2b7b2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_login{
    align-items: center;
    transition: transform 0.1s;
    background-color: aliceblue;
    padding: 2rem;
    height: 60%;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;

}

.card_login:hover {
    transform: scale(1.1); /* Scale the element slightly larger on hover */
  }