* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-secondary);
}

.card {
  animation: book_Now;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  width: 50%;
  background-color: var(--text-light);
  border-radius: var(--radius);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@keyframes card_ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
