@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base colors */
  --background-primary: #eae8ff; /* Orange/Gold background */
  --text-primary: #000a6a; /* Navy blue text */
  --background-secondary: #bcd15c; /* Lime green */
  --text-secondary: #0fa3b1; /* Teal accent */
  --text-light: #eae8ff; /* Light lavender */
  --radius: 0.5rem;
}

@layer base {
  body {
    @apply bg-[var(--background-primary)] text-[var(--text-primary)];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div {
    color: var(--text-primary);
  }
}
